@use "../../App.scss" as a;

.t-content{
    color: a.$textSecond;
    text-align: center;
    margin-bottom: 0px;

    .separation{
        margin-right: 0.5rem;
    }

    .separation:hover{
        cursor: pointer;
    }

    p{
        margin: 0px;
    }

    tr{
        border-color: a.$textFirst;
    }
}