@use "../../App.scss" as a;

$heigthLogo: 200px;

.nav-bar{
    width: 100%;
    height: a.$maxHeig;

    .logo{
        width: 100%;
        height: $heigthLogo;
        padding-top: 2rem;
        text-align: center;
        
        .logo-img{
            width: 80%;
        }
    
    }

    
    .nav-menu{
        width: 100%;
    
        .active{
            color: a.$textSecond !important;
            background-color: a.$backGround;
        }
    
        .link{  
            display: table;
            text-decoration: none;
            color: a.$textFirst;
            text-align: left;
            margin-left: 20px;
            padding-left: 10px;
            height: 40px;
            font-weight: bold;
            
            span{
                display: table-cell;
                vertical-align: middle;
            }
        }

        .link:hover{
            color: a.$optional1;
        }
    }
}

.column{
    display: flex;
    flex-direction: column;
}