@use "../App.scss" as a;

.layout {

    height: 100vh;

    .aside-menu{
        background-color: a.$backGroudNav;
        padding-right: 0px;
    }
    
    .content{
        background-color: a.$backGround;
    }
}