@use "../App.scss" as a;

.layout {

    padding-left: 0px;
    height: 100vh;
    display: flex;

    .aside-menu{
        background-color: a.$backGroudNav;
        padding-right: 0px;
    }
    
    .content{
        background-color: a.$backGround;
        padding: 0px;
    }
}