//message
$succes: #4DB620;
$error: #B92222;

//button component 
$buttonTypeA: #364849;
$buttonsTypeB: #29787F;

//backgrouds
$backGround: #F1F3F4;
$backGroudNav: #364849;
$backGroundTable: #E1E8EA;

//Opcional
$optional1: #A9BCC3;
$optional2: #5D7C7E;

//max-heig
$maxHeig: 100vh;

//text-color
$textFirst: #FFFFFF;
$textSecond: #364849;

